<!-- Logo -->
<div class="flex items-center justify-center bottom-1/2">
    <%= image_tag 'logo1.jpeg', alt: 'Logo App', class: 'w-60 h-60 object-contain' %>
</div>

<p class="flex items-center text-2xl justify-center">
    SEJA BEM VINDO AO GOALS 🎯
</p>

<!-- Container dos botões -->
<div class="w-full rounded-t-3xl bg-gray-900 p-6 flex flex-col gap-4 mt-52">
    <%= link_to 'Já tenho cadastro', new_user_session_path, class: "w-full block text-center bg-white text-black text-lg font-medium py-3 rounded-lg shadow" %>

    <%= link_to 'Criar Cadastro', new_user_registration_path, class: "w-full block text-center bg-blue-400 text-black text-lg font-medium py-3 rounded-lg shadow" %>
</div>