<p class="text-gray-800">Olá <span class="text-blue-600"><%= @resource.email %></span>!</p>

<p class="text-gray-700 bg-white">Estamos entrando em contato para notificar que sua senha foi alterada.</p>